# Stop Using For Loops - Python

Why? There are faster and cleaner methods.

In [1]:
def double_number(number):
    """Simple function to use for basic examples"""
    return 2*number

### For Loop

In [2]:
result = []

for number in [1, 2, 3]:
    doubled = double_number(number)
    result.append(doubled)
    
print(result)

[2, 4, 6]

### List Comprehension

In [3]:
result = [double_number(number) for number in [1, 2, 3]]

print(result)

[2, 4, 6]

### Map

In [4]:
result = list(map(double_number, [1, 2, 3]))

print(result)

[2, 4, 6]

# Pandas

Now, if you're a normal person, you're using Pandas for data analysis.

In [5]:
# Imports
import pandas as pd

# Build initial dataframe
df = pd.DataFrame()
df['full_name'] = ['Arvo Bevvies', 'Rick Sanchez', 'Bobby Lee']
df['age'] = [32, 70, 48]
df['country'] = ['Australia','United States','United States']

In [6]:
df

      full_name  age        country
0  Arvo Bevvies   32      Australia
1  Rick Sanchez   70  United States
2     Bobby Lee   48  United States

Say we had the following business objectives for each "user":  
- Is a user of drinking age?
- What is a user's dateable age range?

##### Functions for above objectives

In [7]:
def get_is_of_drinking_age(country, age):
    drinking_age = 21
    if country == 'Australia':
        drinking_age = 18
    if age >= drinking_age:
        return True
    else:
        return False


def get_dateable_age(age):
    return str(int((age/2) + 7)) + '+'

### For Loop

In [8]:
# 7 lines of code

is_of_drinking_age = []
dateable_age = []

for x in range(len(df)):
    is_of_drinking_age.append(get_is_of_drinking_age(df.country.iloc[x], df.age.iloc[x]))
    dateable_age.append(get_dateable_age(df.age.iloc[x]))
    
df['is_of_drinking_age'] = is_of_drinking_age
df['dateable_age'] = dateable_age

In [9]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

### Pandas For Loop

In [10]:
# 7 lines of code

is_of_drinking_age = []
dateable_age = []

for i, row in df.iterrows():
    is_of_drinking_age.append(get_is_of_drinking_age(row['country'], row['age']))
    dateable_age.append(get_dateable_age(row['age']))
    
df['is_of_drinking_age'] = is_of_drinking_age
df['dateable_age'] = dateable_age

In [11]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

### List Comprehension

In [12]:
df['is_of_drinking_age'] = [get_is_of_drinking_age(df[df.full_name==x]['country'].iloc[0], df[df.full_name==x]['age'].iloc[0]) for x in df.full_name]
df['dateable_age'] = [get_dateable_age(x) for x in df.age]

In [13]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

### Map

In [14]:
df['is_of_drinking_age'] = list(map(lambda x: get_is_of_drinking_age(df[df.full_name==x]['country'].iloc[0], df[df.full_name==x]['age'].iloc[0]), df.full_name))
df['dateable_age'] = list(map(get_dateable_age, df.age))

In [15]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

### Pandas Apply

In [16]:
df['is_of_drinking_age'] = df.apply(lambda row: get_is_of_drinking_age(row['country'], row['age']), axis=1)
df['dateable_age'] = df.age.apply(get_dateable_age)

In [17]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

Even better to understand that you will use the apply method prior to function creation and write cleaner code...

In [18]:
def clean_get_is_of_drinking_age(row):
    drinking_age = 21
    if row['country'] == 'Australia':
        drinking_age = 18
    if row['age'] >= drinking_age:
        return True
    else:
        return False
    
# This
df['is_of_drinking_age'] = df.apply(lambda row: get_is_of_drinking_age(row['country'], row['age']), axis=1)

# Becomes this
df['is_of_drinking_age'] = df.apply(clean_get_is_of_drinking_age, axis=1)

In [19]:
df

      full_name  age        country  is_of_drinking_age dateable_age
0  Arvo Bevvies   32      Australia                True          23+
1  Rick Sanchez   70  United States                True          42+
2     Bobby Lee   48  United States                True          31+

# Cheers!